* {
  margin: 0;
}
.app {
  text-align: center;
  background-image: url("https://products.ls.graphics/mesh-gradients/images/01.-Royal-Heath.jpg");
  background-position: center;
  background-size: 100% 100%;
  background-repeat: repeat;
  height: 160vh;
  padding-top: 30px;
}

.container {
  margin: 20px;
  padding: 20px;
  border-radius: 120px;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgba(190, 188, 188, 0) 100%
  );
}

.devider {
  margin-top: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid rgb(165, 215, 228);
}

.title {
  font-weight: 100;
}

.heading {
  font-size: 2.3rem;
  font-weight: 500;
  background-color: rgb(165, 215, 228);
  background-image: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgba(190, 188, 188, 0) 100%
  );
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
